@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes pull-from-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    50% {
        transform: translateX(-10%);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.pull-from-right {
    animation: pull-from-right 5s ease forwards;
    animation-fill-mode: forwards; /* Giữ trạng thái cuối cùng */
}   
.error-message {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 6s ease, transform 0.5s ease;
}

.error-message.show {
    opacity: 1;
    transform: translateX(0);
}